<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2><%= I18n.t :hi %> <%= @supervisor.full_name %></h2>
    <h1><%= I18n.t :welcome_message %> <%= I18n.t :system_name %></h1>
    <p>
      <%= I18n.t :daily_report_message %>
    </p>
    <table class="table table-striped table-bordered">
    <thead>      
      <th><%= I18n.t ".name" %></th>
      <th><%= I18n.t ".progress" %></th>
    </thead>
    <tbody>
    <% @supervisor.courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.progress %>%</td>
      </tr>
    <% end %>    
    </tbody>
    </table>    
  </body>
</html>