<h1><%= t ".assign_courses" %></h1>
<%= search_form_for [:supervisor, @search] do |f| %>
  <div class="form-group" >
    <%= f.label :name_cont %>
    <%= f.text_field :name_cont %>
    <%= f.submit t "search_button" %>
  </div>
<% end %>
<table class="table table-stripped">
  <thead>
    <th><%= t ".name" %></th>
    <th><%= t ".description" %></th>
    <th><%= t ".start_date" %></th>
    <th><%= t ".end_date" %></th>
    <th><%= t ".supervisors" %></th>
    <th><%= t ".trainees" %></th>
    <th><%= t ".action" %></th>
  </thead>
  <tbody>
    <%= render @courses %>
    <%= will_paginate %>
  </tbody>
</table>
