<h1><%= @course.name %></h1>
<%= form_for [:supervisor, @course] do |f| %>
  <%= f.hidden_field :update_status %>
  <% if can? :manage, @course %>
    <% if @course.new? %>
      <%= f.submit t(".start"), class: "btn btn-primary" %>
    <% elsif @course.started? %>
      <%= f.submit t(".finish"), class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>
<p><%= @course.description %></p>
<h3>
  <%= t '.all_trainees' %>
  <small>
    <%= link_to t(".hide"), "#", class: "btn btn-info btn-hide" %>
  </small>
</h3>
<ol>
  <% @course.trainees.each do |trainee| %>
    <li><%= trainee.full_name %></li>
  <% end %>
</ol>
<h3>
  <%= t '.all_supervisors' %>
  <small>
    <%= link_to t(".hide"), "#", class: "btn btn-info btn-hide" %>
  </small>
</h3>
<ol>
  <% @course.supervisors.each do |supervisor| %>
    <li><%= supervisor.full_name %></li>
  <% end %>
</ol>
<h3><%= t '.all_subjects' %></h3>
<ol>
  <% @course.courses_subjects.each do |courses_subject| %>
    <div class="row">
      <li>
        <div class="col-xs-1">
          <%= link_to courses_subject.subject.name,
            edit_supervisor_course_courses_subject_path(course_id: @course.id,
            id: courses_subject.id) %>
        </div>
        <div class="col-xs-1">
          <%= CoursesSubject::STATUS.key(courses_subject.status).upcase %>
        </div>
      </li>
    </div>
  <% end %>
</ol>
<br>
<h3><%= t "activity_log" %></h3>
<table class="table">
  <% @activities.each do |activity| %>
  <tr>
    <td>
      <b class="text-capitalize"><%= @course.name %></b>
      <% key = activity.key %>
      <%= key[7,key.length] << "d by" %>
      <%= link_to activity.owner.first_name %>
      <%= time_ago_in_words(activity.created_at).gsub('about','') %>
      <%= t "ago" %>
    </td>
  </tr>
  <% end %>
</table>
