<div>
  <h1><%= t ".subj_name" %><%= @courses_subject.subject.name %></h1>
  <br>
  <h3><%= t ".subj_desc" %></h3>
  <p><%= @courses_subject.subject.description %><p>
  <h3><%= t ".tasks" %></h3>
  <%= form_for current_user do |f| %>
    <div class="field form-group">
      <%= f.label(:title, t(".check")) %><br>
      <%= f.collection_check_boxes(:task_ids, @courses_subject.tasks, :id, :name) do |b| %>
        <%= b.label(class: "checkbox-inline") { b.check_box + b.text } %>
      <% end %>
    </div>
    <% unless @users_subject.try :finished? %>
      <center>
        <%= f.submit t(".update"), class: "btn btn-primary" %>
      </center>
    <% end %>
  <% end %>
  <br>
  <%= form_for UsersSubject.new do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :courses_subject_id, value: @courses_subject.id %>
    <% unless @users_subject.try :finished? %>
      <center>
        <%= f.submit t("finish"), class: "btn btn-primary" %>
      </center>
    <% else %>
      <center>
        <%= social_share_button_tag t(".social_share", 
          subject_name: @users_subject.subject.name), popup: :true  %>
      </center>
    <% end %>
  <% end %>
</div>

