<div class="panel panel-default">
  <div class="panel-body">
  <h2><%= t "title_activities" %></h2>
    <table class= "table table-striped">
      <% @subject_activities.each do |subject_activity| %>
        <tr>
          <td>
            <%= @subject.name.camelize %>
            <% key = subject_activity.key %>
            <%= key[8,key.length] << "d by" %>
            <% first_name = subject_activity.owner.first_name %>
            <% last_name = subject_activity.owner.last_name %>
            <%= link_to "#{first_name+" "+last_name}", current_user %>
            <%= time_ago_in_words(subject_activity.created_at) %>
            <%= t "activity_message_ago" %>
          </td>
        </tr>
      <% end %>
    </table>    
  </div>
</div>