<h1><%= current_user.full_name %></h1><br>
<h4><%= t ".course_name" %> <%= @course.name.upcase %></h4><br>
<h4><%= @course.users.supervisors.count %><%= t ".no_of_supervisors" %></h4>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= @course.progress %>"
    aria-valuemin="0"  aria-valuemax="100" style="width: <%= @course.progress %>%;">
  </div>
</div>
<table class="table table-striped">
  <thead>
    <th><%= t ".supervisor_name" %></th>
    <th><%= t ".supervisor_email" %></th>
  </thead>
  <tbody>
    <% @course.supervisors.each do |supervisor| %>
      <tr>
        <td><%= supervisor.full_name %></td>
        <td><%= supervisor.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<table class="table table-striped">
  <thead>
    <th><%= t ".subj_name" %></th>
    <th><%= t ".subj_desc" %></th>
    <th><%= t ".progress_bars" %></th>
    <th></th>
  </thead>
  <tbody>
    <% @user_subjects.each do |user_subject| %>
      <tr>
        <td><%= link_to "#{user_subject.subject.name.camelize}", "#" %></td>
        <td><%= user_subject.subject.description.truncate 50 %>
          <div class="show_hide" id="user_subject_<%= user_subject.id %>">
            <table>
              <tbody>
                <% user_subject.tasks.each do |task| %>
                  <tr>
                    <td>
                      <%= task.name %>
                    </td>
                    <td>
                      <% if !task.users_tasks.find_task_id current_user.id, task.id %>
                        <%= t ".training" %>
                      <% else %>
                        <%= t ".finished" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </td>
        <td>
        <% percent = find_subject_progress user_subject.subject.id %>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="<%= percent %>"
              aria-valuemin="0"  aria-valuemax="100" style="width: <%= percent %>%; ">
            </div>
          </div>
        </td>
        <td>
          <%= link_to t(".show"), "#", class: "btn btn-info btn-show", rel: "user_subject_#{user_subject.id}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3><%= t "activity_log" %></h3>
<table class="table">
  <% @activities.each do |activity| %>
  <tr>
    <td>
      <b class="text-capitalize">
        <%= activity.trackable_type %>
      </b>
      <% key = activity.key %>
      <% index_of_dot = key.index(".")%>
      <%= key[index_of_dot+1,key.length] << "d by" %>
      <%= link_to activity.owner.first_name %>
      <%= time_ago_in_words(activity.created_at).gsub("about","") %>
      <%= t "ago" %>
    </td>
  </tr>
  <% end %>
</table>
