<h1><%= current_user.full_name %></h1><br>  
<h4><%= t ".course_name" %> <%= @course.name.upcase %></h4><br>
<h4><%= @course.users.supervisors.count %><%= t ".no_of_supervisors" %></h4>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= find_course_percent %>" 
    aria-valuemin="0"  aria-valuemax="100" style="width: <%= find_course_percent %>%;">
  </div>
</div>
<table class="table table-striped">
  <thead>
    <th><%= t ".supervisor_name" %></th>
    <th><%= t ".supervisor_email" %></th>
  </thead>
  <tbody>
    <% @course.supervisors.each do |supervisor| %>
      <tr>
        <td><%= supervisor.full_name %></td>
        <td><%= supervisor.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<table class="table table-striped">
  <thead>
    <th><%= t ".subj_name" %></th>
    <th><%= t ".subj_desc" %></th>
    <th><%= t ".progress_bars" %></th>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name.camelize %></td>
        <td><%= subject.description.truncate 50 %></td>
        <td>
          <% percent = find_subject_progress subject.id %>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="<%= percent %>" 
              aria-valuemin="0"  aria-valuemax="100" style="width: <%= percent %>%; ">
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>