<% provide(:title, @subject.name) %>
<h1><%= @course.name %></h1>
<div class="row">
  <div class="panel panel-default panel-box">
    <div class="panel-heading panel-course-name"><%= @subject.name %>
      <div class="pull-right">
        <%= link_to t(:back), [:supervisor, @course],
          class: "btn btn-default" %>
        <% if @course_subject.finished? %>
          <button class="btn btn-default disabled"><b><%= t 'finished' %></b></button>
        <% end %>
      </div>
    </div>
    <div class="panel-body">
      <p><%= @subject.description %></p>
      <br>
      <label class="tasksHeader"><%= t 'tasks' %></label>
      <hr>

      <div class="container">
        <% @tasks.each do |task| %>
          <div class="panel panel-success myTasks">
            <div class="panel-heading"><%= task.name %></div>
            <div class="panel-footer"></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="panel-footer panel-course-footer"></div>
  </div>
</div>
