<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("logo.png", alt: "", class:"logo-img"), root_path %>
    <%= link_to t(:system_name), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% if current_user.supervisor? %>
            <%= render 'layouts/supervisor' %>
          <% else %>
            <%= render 'layouts/trainee' %>
          <% end %>
        <% else %>
          <%= render 'layouts/unauthenticated' %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>